:root {
  --pretty-color: #ff6c00;
  --while-color: #ffffff;
  --black-color: #303030;
  --grey-op: rgba(157, 164, 189, 0.6);
  --grey: #9da4bd;
  --dark-grey: #555555;
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--black-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sign-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.362;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 1px solid var(--pretty-color);
  border-radius: 25px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: var(--accent-font);
  font-size: 42px;
  line-height: 1.167;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}

.media-list .link:hover,
.media-list .link:focus {
  color: var(--pretty-color);
}

/* HEADER */

.sign-link:focus,
.sign-link:hover {
  background-color: var(--pretty-color);
  color: var(--while-color);
}

.contact-section .sign-link {
  padding: 12px 38px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.contact-section .sign-link:focus,
.contact-section .sign-link:hover {
  background-color: var(--pretty-color);
}

/* HEADER */

.header {
  background-color: var(--black-color);
  color: var(--while-color);
}

.nav-list a:hover,
.nav-list a:focus,
.media-list a:hover,
.media-list a:focus,
.tel:hover,
.tel:focus {
  color: var(--pretty-color);
}

/* MAIN */

/* Hero */

.hero {
  background-color: var(--black-color);
  color: var(--while-color);
}

.hero .container {
  padding-left: 225px;
  padding-bottom: 40px;
  padding-top: 272px;
}

.hero .pre-title {
  color: var(--grey-op);
}

.hero .title {
  font-size: 72px;
  line-height: 1.181;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero .text {
  color: var(--grey);
}

.slider-buttons {
  text-align: right;
}

.slider-buttons button {
  color: var(--grey-op);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-op);
  cursor: pointer;
  width: 60px;
  text-align: left;
  padding-bottom: 8px;
  font-size: 11px;
  line-height: 1.364;
}

.slider-buttons .button-forward {
  text-align: right;
}

.slider-buttons button:hover,
.slider-buttons button:focus {
  color: var(--while-color);
  border-bottom: var(--while-color);
  border-bottom: 1px solid var(--while-color);
}

/* About us */

.about .container {
  padding-top: 161px;
  padding-bottom: 99px;
}

.about-images-list {
}

.about-images-list li:first-child {
  margin-right: 30px;
}

.about .description {
  font-size: 14px;
  line-height: 1.857;
  color: var(--dark-grey);
}

/* Price-section */

.price-section {
  background-color: var(--black-color);
  color: var(--while-color);
}

/* Contact-section */

.contact-section {
  background-color: var(--black-color);
  color: var(--while-color);
}
